[submodule "code-to-uml"]
	path = code-to-uml
	url = git@github.com:tera201/Code2UML.git
[submodule "swrminer"]
	path = swrminer
	url = git@github.com:tera201/SWRMiner.git
[submodule "javafx-code-modeling-tool"]
	path = javafx-code-modeling-tool
	url = git@github.com:tera201/JavaFXCodeModelingTool.git
[submodule "swing-components"]
	path = swing-components
	url = git@github.com:tera201/SwingComponents.git
