[submodule "modules/swrminer"]
	path = modules/swrminer
	url = git@github.com:tera201/SWRMiner.git
[submodule "modules/javafx-code-modeling-tool"]
	path = modules/javafx-code-modeling-tool
	url = git@github.com:tera201/JavaFXCodeModelingTool.git
[submodule "modules/swing-components"]
	path = modules/swing-components
	url = git@github.com:tera201/SwingComponents.git
[submodule "modules/javafx-uml-graph"]
	path = modules/javafx-uml-graph
	url = git@github.com:tera201/JavaFXUMLGraph.git
[submodule "modules/code-to-model"]
	path = modules/code-to-model
	url = git@github.com:tera201/Code2Model.git
